<settings>
  <profiles>
    <profile>
      <id>travis</id>
      <properties>
        <gpg.executable>gpg</gpg.executable>
        <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
        <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>
        <gpg.defaultKeyring>true</gpg.defaultKeyring>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>travis</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>oss.sonatype.org</id>
      <username>${env.SONATYPE_USERNAME}</username>
      <password>${env.SONATYPE_PASSWORD}</password>
    </server>
  </servers>
</settings>

